<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors | The Bookstore</title>
    <link rel="stylesheet" href="/common/styles.css">
</head>
<body>
    <header>
        <h1>List of Authors</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/books">Books</a>
            <a href="/authors">Authors</a>
            <a href="/common/about.html">About</a>
        </nav>
    </header>
    <main>
        <ul id="author-list">
            <%
                let authors = await schemat.global.AuthorCategory.list_objects({load: true})
                let books = await schemat.global.BookCategory.list_objects({load: true})
            %>
            <% authors.forEach(author => { %>
                <li id="<%= author.id %>">
                    <h2><%= author.name %></h2>
                    
                    <dl class="details-table">
                        <dt>Life</dt>               <dd><%= author.birth_year %> - <%= author.death_year || 'Present' %></dd>
                        <dt>Nationality</dt>        <dd><%= author.nationality %></dd>
                        <dt>Literary Movement</dt>  <dd><%= author.literary_movement %></dd>
                        <dt>Alma Mater</dt>         <dd><%= author.alma_mater || 'N/A' %></dd>
                        <dt>Spouse</dt>             <dd><%= author.spouse || 'N/A' %></dd>
                        <dt>Awards</dt>             <dd><%= author.award$.join('; ') || 'N/A' %></dd>
                        <dt>Notable Works</dt>
                        <dd>
                            <ul class="notable-works">
                                <% author.notable_work$.forEach(work => { %>
                                    <li><%= work %></li>
                                <% }) %>
                            </ul>
                        </dd>
                        <dt>Biography</dt>          <dd><%= author.bio %></dd>
                    </dl>

                    <h3>Find in The Bookstore:</h3>
                    <div class="book-list">
                        <% books.filter(book => book.author$.map(a => a.id).includes(author.id)).forEach(book => { %>
                            <div class="book-item">
                                <div class="book-icon">📖</div>
                                <div class="book-info">
                                    <a href="/book/<%= book.id %>"><%= book.title %></a>
                                    <span class="book-year">(<%= book.published_year %>)</span>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </li>
            <% }) %>
        </ul>
    </main>
    <footer>
        <p>&copy; 2024 The Bookstore. All rights reserved.</p>
    </footer>
</body>
</html>
