<!DOCTYPE html>
<html lang="en">
<head>
    <% let title = "List of Books" %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | The Bookstore</title>
    <link rel="stylesheet" href="/common/styles.css">
</head>
<body>
    <header>
        <h1><%= title %></h1>
        <nav>
            <a href="/">Home</a>
            <a href="/books">Books</a>
            <a href="/authors">Authors</a>
            <a href="/common/about.html">About</a>
        </nav>
    </header>
    <main>
        <ul id="book-list">
            <%
                let books = await schemat.global.BookCategory.list_objects({load: true})
                let authors = books.flatMap(book => book.author$)
                await Promise.all(authors.map(a => a.load()))       // load from DB every related Author object so we know their names
            %>
            <% books.forEach(book => { %>
                <li id="<%= book.id %>">
                    <h2><a href="/book/<%= book.id %>"><%= book.title %></a></h2>
                    <div class="book-content">
                        <dl class="details-table">
                            <dt>Author(s)</dt>
                            <dd>
                                <% book.author$.forEach((author, index) => { %>
                                    <a href="/authors#<%= author.id %>"><%= author.name %></a><%= index < book.author$.length - 1 ? ', ' : '' %>
                                <% }) %>
                            </dd>
                            <dt>Genre</dt>      <dd><%= book.genre %></dd>
                            <dt>Published</dt>  <dd><%= book.published_year %> by <%= book.publisher %></dd>
                            <dt>ISBN</dt>       <dd><%= book.isbn %></dd>
                            <dt>Pages</dt>      <dd><%= book.page_count %></dd>
                            <dt>Language</dt>   <dd><%= book.language %></dd>
                            <dt>Average Rating</dt> <dd><%= book.average_rating %>/5</dd>
                            <dt>Description</dt>    <dd><%= book.description %></dd>
                        </dl>
                        <div class="book-cover-container">
                            <a href="/book/<%= book.id %>"><img src="<%= book.cover_image %>" alt="<%= book.title %> cover" class="book-cover"></a>
                        </div>
                </li>
            <% }) %>
        </ul>
    </main>
    <footer>
        <p>&copy; The Bookstore. All rights reserved.</p>
    </footer>
</body>
</html>